@using Maxsys.WorldCupPredictTheScore.Web.ViewModels.Predict;
@using Maxsys.WorldCupPredictTheScore.Web.Core.Extensions;
@model MatchPredictionsViewModel

@{
    ViewData["Title"] = "Palpites do jogo";
    var previousMatchDisabled = Model.PreviousMatchId is null ? "disabled" : string.Empty;
    var nextMatchDisabled = Model.NextMatchId is null ? "disabled" : string.Empty;
    var bgColor = Model.Match.Round switch
    {
        4 => "bg-oitavas",
        5 => "bg-quartas",
        6 => "bg-semis",
        7 or 8 => "bg-finais",
        _ => "bg-azure"
    };

}

<h4 class="text-center">@ViewData["Title"]</h4>

<p class="lead text-center">
    Palpites dos adversários estarão disponíveis somente após o início da partida.
</p>
<section class="container">
    @{
        var dateISO = Model.Match.Date.GetBRT().ToString("yyyy-MM-dd HH:mm:ss");
        var date = Model.Match.Date.ToStringBRT();
    }

    <section class="d-flex justify-content-center">
        <div class="col-12 score-content @Html.Raw(bgColor) ">
            <div class="container text-muted text-center score-text ">
                <small><strong><time datetime="@dateISO">@date</time></strong> | @Model.Match.MatchInfo</small>
                <br/>
                <a class="btn btn-sm btn-primary @Html.Raw(previousMatchDisabled)" href="@Model.PreviousMatchId" >Anterior</a>
                <a class="btn btn-sm btn-primary @Html.Raw(nextMatchDisabled)" href="@Model.NextMatchId">Próximo</a>
            </div>
            <hr class="mt-1" />
            <div class="row container justify-content-center">

                <div class="col text-end score-text score-team-code"><strong>@Model.Match.HomeTeam.Code</strong></div>
                <div class="col text-end score-text score-team-name"><strong>@Model.Match.HomeTeam.Name</strong></div>
                <div class="col col-auto">
                    <img class="score" src="~/img/@Model.Match.HomeTeam.Flag" title="@Model.Match.HomeTeam.Name" alt="@Model.Match.HomeTeam.Code" />
                    <span class="text-center score-text"><strong>@Model.Match.HomeTeamScore</strong></span>
                    <span class="text-muted">X</span>
                    <span class="text-center score-text"><strong>@Model.Match.AwayTeamScore</strong></span>
                    <img class="score" src="~/img/@Model.Match.AwayTeam.Flag" title="@Model.Match.AwayTeam.Name" alt="@Model.Match.AwayTeam.Code" />
                </div>
                <div class="col text-start score-text score-team-name"><strong>@Model.Match.AwayTeam.Name</strong></div>
                <div class="col text-start score-text score-team-code"><strong>@Model.Match.AwayTeam.Code</strong></div>
            </div>

            @if (Model.Predictions.Any()) 
            {
                @foreach (var item in Model.Predictions)
                {
                    <hr class="mt-1" />
                    <div class="row container justify-content-center" style="position: relative;">
                        <div class="col col-auto text-center">
                            <strong>@item.UserName</strong><br />
                            <span class="text-center score-text"><strong>@item.HomeTeamScore</strong></span>
                            <span class="text-muted">X</span>
                            <span class="text-center score-text"><strong>@item.AwayTeamScore</strong></span>
                        </div>
                        <!-- div row: style="position: relative;"  -->
                        @if (item.Points is not null)
                        {
                            var textColor = item.Points == 25 ? "bg-success" : item.Points == 4 ? "bg-secondary text-warning" : "bg-secondary";
                        <div style="display: block; position: absolute; height: 100%; width:100%; text-align:right; vertical-align: middle; ">
                            <span class="badge @textColor">@item.Points Pontos</span>
                        </div>
                        } 
                    </div>
                }
            }
            else
            {
                <hr class="mt-1" />
                <div class="row container justify-content-center">
                    Nenhum palpite para esse jogo.
                </div>
            }


        </div>
    </section>
    
</section>
