@using Maxsys.WorldCupPredictTheScore.Web.ViewModels.Match;

@model MatchEditViewModel

@{
    ViewData["Title"] = "Editar jogo";
    var onKeyPressCode = "return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))";
}

<h4 class="text-center">@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="MatchId" type="hidden" />
            <input asp-for="HomeTeamName" type="hidden" />
            <input asp-for="AwayTeamName" type="hidden" />

            <div class="row container justify-content-center score-content">
                <div class="col text-end score-text score-team-code"><strong>@Model.HomeTeamName</strong></div>
                <div class="col text-end score-text score-team-name"><strong>@Model.HomeTeamName</strong></div>
                <div class="col col-auto">
                    <input type="number" asp-for="HomeTeamScore" class="score" maxlength="2" min="0" max="15" onkeypress="@Html.Raw(onKeyPressCode)" />
                    <span class="text-muted">X</span>
                    <input type="number" asp-for="AwayTeamScore" class="score" maxlength="2" min="0" max="15" onkeypress="@Html.Raw(onKeyPressCode)" />
                </div>
                <div class="col text-start score-text score-team-name"><strong>@Model.AwayTeamName</strong></div>
                <div class="col text-start score-text score-team-code"><strong>@Model.AwayTeamName</strong></div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
